<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/plotterpeople" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/plotterpeople', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <p>
    <label for="tlemail">Want to hear about future events? Subscribe:</label>
    <input type="text" style="width:140px" name="email" id="tlemail" placeholder="you@are.cool" />
    <input type="submit" value="Subscribe" />
  </p>
  <input type="hidden" value="1" name="embed"/>
</form>
