<form class="tinyletter" action="https://tinyletter.com/plotterpeople" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/plotterpeople', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <p>
    <label class="subscribe-label" for="tlemail">Want to hear about future events?</label>
    <input type="text" class="subscribe-input" name="email" id="tlemail" placeholder="you@are.cool" />
    <input type="submit" class="subscribe-button" value="Subscribe" />
  </p>
  <input type="hidden" value="1" name="embed"/>
</form>
