<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
{% feed_meta %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="site-title">{{ site.title }}</h1>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div class="squiggly">
          <h2>Context</h2>
        </div>
        <div style="float: right; margin: 10px">
        <a class="twitter-timeline"
          href="https://twitter.com/plotterpeople/likes?ref_src=twsrc%5Etfw"
          data-height="600" data-width="250" data-dnt="true" >Tweets Liked by @plotterpeople</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <p>
        <strong>What is a plotter?</strong><br/>
        A "plotter" or "pen plotter" is a computer-controlled machine that
        holds a pen (or other mark-making implement) and draws onto a surface.
        Popular hobbyist plotters include the <a href="https://axidraw.com/">AxiDraw</a>
        and the <a href="https://www.makeblock.com/project/xy-plotter-robot-kit">Makeblock XY</a>.
        </p>
        <p>
        <strong>What do people do with them?</strong><br/>
        Check out <a
          href="https://twitter.com/search?q=%23plottertwitter">#plottertwitter</a>
        on Twitter or <a
          href="https://www.instagram.com/explore/tags/axidraw/">#axidraw</a>
        on Instagram for some examples!
        </p>
        <p>
        <strong>Who runs this thing?</strong><br/>
        Plotter People SF is run by <a
          href="https://twitter.com/nornagon">Jeremy&nbsp;Apthorp</a> and <a
          href="https://twitter.com/kylestetz">Kyle&nbsp;Stetz</a>. (Or you can
        <a href="mailto:plotterpeople@nornagon.net">email us</a>.)
        </p>
        <div style="clear:both">&nbsp;</div>
      </footer>
      <div class="hidden">
        <svg class="big-diamond" xmlns="http://www.w3.org/2000/svg" width="28.13" height="28.13" viewBox="0 0 28.13 28.13">
          <rect x="4.62" y="4.62" stroke="#f04a51" stroke-width="2" fill="none" width="18.89" height="18.89" transform="translate(14.06 33.95) rotate(-135)"/>
        </svg>
        <svg class="small-diamond" xmlns="http://www.w3.org/2000/svg" width="12.77" height="12.77" viewBox="0 0 12.77 12.77">
          <rect x="2.37" y="2.37" stroke="#f04a51" stroke-width="2" fill="none" width="8.03" height="8.03" transform="translate(6.38 15.41) rotate(-135)"/>
        </svg>
      </div>
      <div class="doodle-box doodle-box--left"></div>
      <div class="doodle-box doodle-box--right"></div>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/site.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
